h1{
font-size: 80px;
color:gold;
}
img{
  height:400px;
  width: auto;
}
#special{
  font-size: 36px;
  color: blue;
}
#special{
  font-size: 36px;
  color: yellow;
}
body{
  background-image: url('flag.jpg');
}
